.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 826px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 105px;
	margin-bottom: -85px;
}

#u128
{
	z-index: 31;
	width: 1160px;
	height: 63px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#slideshowu2309
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	position: relative;
}

#u2331
{
	position: absolute;
	background-color: transparent;
}

#u2331popup
{
	z-index: 3;
}

#u2332
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u2332
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1703
{
	z-index: 169;
	width: 230px;
	top: 1px;
	left: 50%;
	margin-left: -491px;
}

#menuu443
{
	z-index: 105;
	width: 734px;
	top: 0px;
	left: 50%;
	margin-left: -249px;
}

#u451
{
	width: 71px;
	min-height: 61px;
	margin-right: -10000px;
}

#u452
{
	z-index: 108;
	width: 71px;
	height: 61px;
	margin-right: -10000px;
}

#pu452:hover #u452,#pu452.MuseMenuActive #u452
{
	width: 71px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu452.MuseMenuActive ._u452.f3s_mid
{
	width: 71px;
	height: 23px;
}

#pu452.MuseMenuActive ._u452.f3s_top,#pu452.MuseMenuActive ._u452.f3s_bot
{
	width: 71px;
	height: 19px;
}

#u454-4
{
	width: 45px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
}

#pu452:hover #u454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
	min-height: 14px;
}

#u485
{
	width: 137px;
	min-height: 61px;
	margin-right: -10000px;
	left: 73px;
}

#u486
{
	z-index: 117;
	width: 137px;
	height: 61px;
	margin-right: -10000px;
}

#pu486:hover #u486,#pu486.MuseMenuActive #u486
{
	width: 137px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu486.MuseMenuActive ._u486.f3s_mid
{
	width: 137px;
	height: 23px;
}

#pu486.MuseMenuActive ._u486.f3s_top,#pu486.MuseMenuActive ._u486.f3s_bot
{
	width: 137px;
	height: 19px;
}

#u488-4
{
	width: 111px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
}

#pu486:hover #u488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
	min-height: 14px;
}

#u2248
{
	width: 148px;
	min-height: 61px;
	margin-right: -10000px;
	left: 212px;
}

#u2251
{
	z-index: 126;
	width: 148px;
	height: 61px;
	margin-right: -10000px;
}

#pu2251:hover #u2251,#pu2251.MuseMenuActive #u2251
{
	width: 148px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2251.MuseMenuActive ._u2251.f3s_mid
{
	width: 148px;
	height: 23px;
}

#pu2251.MuseMenuActive ._u2251.f3s_top,#pu2251.MuseMenuActive ._u2251.f3s_bot
{
	width: 148px;
	height: 19px;
}

#u2252-4
{
	width: 122px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
}

#pu2251:hover #u2252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
	min-height: 14px;
}

#u492
{
	width: 90px;
	min-height: 61px;
	margin-right: -10000px;
	left: 362px;
}

#u495
{
	z-index: 135;
	width: 90px;
	height: 61px;
	margin-right: -10000px;
}

#pu495:hover #u495,#pu495.MuseMenuActive #u495
{
	width: 90px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu495.MuseMenuActive ._u495.f3s_mid
{
	width: 90px;
	height: 23px;
}

#pu495.MuseMenuActive ._u495.f3s_top,#pu495.MuseMenuActive ._u495.f3s_bot
{
	width: 90px;
	height: 19px;
}

#u496-4
{
	width: 64px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
}

#pu495:hover #u496-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
	min-height: 14px;
}

#u766
{
	width: 106px;
	min-height: 61px;
	margin-right: -10000px;
	left: 454px;
}

#u769
{
	z-index: 144;
	width: 106px;
	height: 61px;
	margin-right: -10000px;
}

#pu769:hover #u769,#pu769.MuseMenuActive #u769
{
	width: 106px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu769.MuseMenuActive ._u769.f3s_mid
{
	width: 106px;
	height: 23px;
}

#pu769.MuseMenuActive ._u769.f3s_top,#pu769.MuseMenuActive ._u769.f3s_bot
{
	width: 106px;
	height: 19px;
}

#u770-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
}

#pu769:hover #u770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
	min-height: 14px;
}

#u2881
{
	width: 74px;
	min-height: 61px;
	margin-right: -10000px;
	left: 562px;
}

#u2882
{
	z-index: 153;
	width: 74px;
	height: 61px;
	margin-right: -10000px;
}

#pu2882:hover #u2882,#pu2882.MuseMenuActive #u2882
{
	width: 74px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2882.MuseMenuActive ._u2882.f3s_mid
{
	width: 74px;
	height: 23px;
}

#pu2882.MuseMenuActive ._u2882.f3s_top,#pu2882.MuseMenuActive ._u2882.f3s_bot
{
	width: 74px;
	height: 19px;
}

#u2884-4
{
	width: 48px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
}

#pu2882:hover #u2884-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 13px;
	min-height: 14px;
}

#pu452.MuseMenuActive #u454-4,#pu486.MuseMenuActive #u488-4,#pu2251.MuseMenuActive #u2252-4,#pu495.MuseMenuActive #u496-4,#pu769.MuseMenuActive #u770-4,#pu2882.MuseMenuActive #u2884-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 4px;
	left: 13px;
	min-height: 14px;
}

#u499
{
	width: 96px;
	min-height: 61px;
	margin-right: -10000px;
	left: 638px;
}

#pu452,#pu486,#pu2251,#pu495,#pu769,#pu2882,#pu500
{
	width: 0.01px;
	position: relative;
}

#u500
{
	z-index: 162;
	width: 96px;
	height: 61px;
	margin-right: -10000px;
}

#pu500:hover #u500,#pu500.MuseMenuActive #u500
{
	width: 96px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu500.MuseMenuActive ._u500.f3s_mid
{
	width: 96px;
	height: 23px;
}

#pu500.MuseMenuActive ._u500.f3s_top,#pu500.MuseMenuActive ._u500.f3s_bot
{
	width: 96px;
	height: 19px;
}

#u502-4
{
	width: 71px;
	min-height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 12px;
}

#pu500:hover #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 23px;
	left: 12px;
	min-height: 14px;
}

#pu500.MuseMenuActive #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: -10000px;
	top: 4px;
	left: 12px;
	min-height: 14px;
}

#u1572
{
	z-index: 104;
	width: 1160px;
	height: 1px;
	top: 62px;
	left: 50%;
	margin-left: -50%;
}

#tab-panelu2343
{
	z-index: 5;
	width: 934px;
	border-style: none;
	border-color: transparent;
	background-color: #EEEEEE;
	background-color: rgba(127, 127, 127, 0.13);
	margin-left: 13px;
	margin-top: 1px;
	position: relative;
	-pie-background: rgba(127, 127, 127, 0.13);
}

#u2344
{
	z-index: 6;
	width: 934px;
	position: relative;
}

#u2353
{
	z-index: 7;
	width: 933px;
	min-height: 48px;
	border-style: solid;
	border-color: #999999;
	background-color: #D8D8D8;
	background-color: rgba(0, 0, 0, 0.15);
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
	-pie-background: rgba(0, 0, 0, 0.15);
}

#u2353:hover
{
	border-style: solid;
	background-color: #F9F9F9;
	background-color: rgba(0, 0, 0, 0.02);
	width: 933px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
	-pie-background: rgba(0, 0, 0, 0.02);
}

#u2353:active
{
	border-style: solid;
	background-color: transparent;
	width: 933px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u2353.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: transparent;
	width: 933px;
	min-height: 49px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
	text-align: center;
	color: #0071BC;
	font-size: 27px;
	line-height: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u2355
{
	z-index: 9;
	height: 48px;
	width: 933px;
	vertical-align: top;
	background: url("../images/u2355.png") no-repeat 0px 0px;
	position: relative;
}

#u2353:hover #u2355
{
	background: url("../images/u2355-r.png") no-repeat 0px 0px;
}

#u2353.TabbedPanelsTabSelected #u2355
{
	background: url("../images/u2355-a.png") no-repeat 0px 0px;
}

#u2376
{
	z-index: 12;
	width: 934px;
	position: relative;
}

#u2379
{
	z-index: 13;
	width: 891px;
	/*border-style: solid;*/
	/*border-color: #999999;*/
	background-color: #FEFEFE;
	background-color: rgba(255, 255, 255, 0.17);
	margin-right: -10000px;
	position: relative;
	padding: 4px 27px 15px 0;
	border-width: 0px 1px 1px;
	-pie-background: rgba(255, 255, 255, 0.17);
}

#u2812
{
	z-index: 80;
	width: 934px;
	position: relative;
}

#u2380-14
{
	z-index: 14;
	width: 838px;
	min-height: 314px;
	margin-left: 32px;
	margin-top: 6px;
	position: relative;
}

#u2380-2,#u2380-3,#u2380-5,#u2380-6,#u2380-8,#u2380-9,#u2380-11
{
	font-size: 16px;
	line-height: 30px;
	color: #242323;
	font-family: asap, sans-serif;
	font-weight: 400;
}
.contenido
{
	font-size: 16px;
	line-height: 30px;
	color: #242323;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.contenido_titulo
{
	font-size: 20px;
	font-style: normal;
	line-height: 30px;
	color: #2980b9;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}


#u2380-12
{
	line-height: 22px;
	color: #212121;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu222
{
	width: 0.01px;
	left: -100px;
	margin-top: 45px;
	position: relative;
}

#u222
{
	z-index: 30;
	width: 1160px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u222_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 14px;
	padding-bottom: 65px;
}

#pu1540-4
{
	width: 0.01px;
	left: 127px;
	position: relative;
}

#u1540-4
{
	z-index: 61;
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1537-4
{
	z-index: 42;
	width: 168px;
	min-height: 22px;
	margin-right: -10000px;
	left: 378px;
}

#u1493-4
{
	z-index: 32;
	width: 91px;
	min-height: 22px;
	margin-right: -10000px;
	left: 736px;
}

#u1541
{
	z-index: 65;
	width: 915px;
	height: 1px;
	left: 124px;
	margin-top: 6px;
}

#pu1542-25
{
	width: 0.01px;
	left: 124px;
	margin-top: 14px;
	position: relative;
}

#u1542-25
{
	z-index: 66;
	width: 142px;
	min-height: 154px;
	margin-right: -10000px;
}

#u1539-15
{
	z-index: 46;
	width: 244px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 381px;
}

#u1519
{
	z-index: 38;
	width: 57px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 739px;
}

#u1512
{
	z-index: 36;
	width: 57px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 800px;
}

#u1525
{
	z-index: 40;
	width: 57px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 863px;
}

#pu1543-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 1px;
	position: relative;
}

#u1543-4
{
	z-index: 91;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1545-8
{
	z-index: 95;
	width: 283px;
	min-height: 9px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 381px;
}

#u1571
{
	z-index: 103;
	width: 915px;
	height: 1px;
	left: 126px;
	margin-top: 5px;
}

#u2940-3
{
	z-index: 171;
	width: 5px;
	margin-right: -10000px;
	margin-top: 232px;
	left: 515px;
}

body
{
	padding-bottom: 82px;
}

figure {
	margin: 0;
}

figure img {
	width: 100%;
}

strong {
	font-weight: bold;
	color: #34495e;#2c3e50
}

span.clases {
	color: #2c3e50;
	font-weight: bold;
}

h2 {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #2980b9;
	font-weight: bold;
	padding: .5em 0 0 1.4em;
}