.Estilo-de-p-rrafo
{
	font-family: asap-n4, sans-serif;
}

.Estilo-de-p-rrafo-1,.Estilo-de-p-rrafo-2,.Estilo-de-p-rrafo-3,.Estilo-de-p-rrafo-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2613-2
{
	font-family: asap-n7, sans-serif;
}

#u2613-4,#u2613-5,#u2613-7,#u2613-8,#u2613-10,#u2613-11
{
	font-family: asap-n4, sans-serif;
}

