.Estilo-de-p-rrafo
{
	font-family: asap-n4, sans-serif;
}

.Estilo-de-p-rrafo-1,.Estilo-de-p-rrafo-2,.Estilo-de-p-rrafo-3,.Estilo-de-p-rrafo-4
{
	font-family: open-sans-n7, sans-serif;
}

#u2506-2
{
	font-family: asap-n7, sans-serif;
}

#u2506-4,#u2506-5,#u2506-7,#u2506-8,#u2506-10,#u2506-11
{
	font-family: asap-n4, sans-serif;
}

